@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav bar + dropdown */
.top-nav-item {
  @apply cursor-pointer hover:text-gray-800 relative after:lg:absolute after:lg:w-0  after:lg:h-0.5
  hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:bg-gray-800 after:lg:left-0 after:lg:top-1/2;
}
.top-nav-item-active {
  @apply font-bold;
}
.top-menu-expanded {
  @apply absolute z-50 bg-red-500 text-center animate-slideDown p-11 top-10 left-0 w-full;
}

/* sub headline */
.sud-headline {
  @apply flex justify-center items-center mb-24;
}

.sub-headline-deco-line {
  @apply w-8 h-px bg-gray-600;
}

.sub-headline-deco {
  @apply uppercase mx-4 tracking-widest text-gray-600 text-xs lg:text-sm text-center;
}

/* parallax */
#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.parallax-section,
.no-parallax {
  display: flex;
  align-item: center;
  justify-content: center;
  flex-direction: column;
}

.parallax-section {
  position: relative;
  z-index: -1;
  height: 100vh;
    transform-style: preserve-3d;
}
.no-parallax {
  height: auto;
  z-index: 999;
  background: white;
}
.parallax-image {
  position: absolute;
  width: 101%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transform: translateZ(-1px) scale(1.5);
}
